.pic {
    height: 230px;
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.button {
    height: 50px;
    width: 150px;
    margin-top: -20px;
    margin-left: 630px;
    color: white;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
}

.roll {
    margin-left: 32%;
    margin-top: 50px;
}

.start-roll{
    margin:50px 30px 0 42%;
}
.reset-btn{
    margin:50px 0 0 0;
}

.dropdown {
    width: 50px;
    margin: 50px;
    margin-top: 50px;
    color:rgb(130, 219, 216);
}

.word {
    margin-top: 52px;
    margin-left: 100px;
    margin-right: -30px;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    color: rgb(100, 99, 99);
}