.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-content{
  margin: auto;
  width: 20%;
  height: 10%;
  padding: 10px;
}

.start-btn{
  margin-left: 49%;
}

.card-ad{
  margin-left: 32%;
  margin-bottom: 15px;
  width: fit-content;
}

.signin-btn{
  margin: 5% 0 0 42%;
}

/* .app {
  margin: auto;
  width: 20%;
  height: 10%;
  padding: 10px;
} */

/* .modal-header{
  display: none;
}

.modal-body{

}

.modal-footer{

} */

